@model ProjectVideo.Web.Models.Proposals.ProposalFormViewModel
@using ProjectVideo.Core;
@{
    ViewData["Title"] = "Project Proposal";
}

<div class="card-container" >
    <div class="card mt-3 mx-auto" style="max-width: 800px;">
        <div class="card-header">
            <h1 class="card-title h3">
                Project Proposal Form
            </h1>
        </div>
        <div class="card-body">
            <form method="post">
                <div class="row">
                    <div class="col">
                        <div class="mb-3">
                            <label class="form-label">Select a Language</label>
                            <select
                                id="lang-select"
                                class="form-control"
                                asp-for="Localization.Language"
                                asp-items="Html.GetEnumSelectList<AppLanguage>()">
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <div class="alert alert-info">
                            <h4 class="alert-heading">
                                @Model.Localization.AboutUsHeader
                            </h4>
                            <span>
                                @Model.Localization.AboutUsText
                            </span>
                        </div>
                        <fieldset class="mb-4">
                            <legend>@Model.Localization.OrganizationSectionTitle</legend>
                            <div class="mb-3">
                                <label class="form-label" asp-for="MainContact">@Model.Localization.MainContactFieldLabel</label>
                                <input class="form-control" asp-for="MainContact" />
                                <span class="form-text">
                                    @Model.Localization.MainContactFieldText
                                </span>
                            </div>
                            <div class="mb-3">
                                <label class="form-label" asp-for="Email">@Model.Localization.EmailFieldLabel</label>
                                <input class="form-control" asp-for="Email" />
                                <span class="form-text">
                                    @Model.Localization.EmailFieldText
                                </span>
                            </div>
                            <div class="mb-3">
                                <label class="form-label" asp-for="PhoneNumber">@Model.Localization.PhoneNumberFieldLabel</label>
                                <input class="form-control" asp-for="PhoneNumber" />
                                <span class="form-text">
                                    @Model.Localization.PhoneNumberFieldText
                                </span>
                            </div>
                            <div class="mb-3">
                                <label class="form-label" asp-for="OrganizationName">@Model.Localization.OrganizationFieldLabel</label>
                                <input class="form-control" asp-for="OrganizationName" />
                            </div>
                            <div class="mb-3">
                                <label class="form-label" asp-for="OrganizationHistory">@Model.Localization.OrganizationHistoryFieldLabel</label>
                                <textarea class="form-control" asp-for="OrganizationHistory"></textarea>
                                <span class="form-text">
                                    @Model.Localization.OrganizationHistoryText
                                </span>
                            </div>
                            <div class="mb-3">
                                <div class="form-check">
                                    <input class="form-check-input" asp-for="StaffArePaid">
                                    <label class="form-check-label" asp-for="StaffArePaid">@Model.Localization.StaftArePaidCheckboxLabel</label>
                                </div>
                            </div>
                        </fieldset>
                        <fieldset class="mb-4">
                            <datalist id="rolename-options">
                                @foreach(string roleName in Model.TeamMemberRoles)
                                {
                                    <option value="@roleName"></option>
                                }
                            </datalist>
                            <legend>
                                @Model.Localization.TeamMembersSectionTitle
                                <button class="btn btn-secondary float-end" id="members-input-add-btn" type="button">
                                    <i class="bi bi-plus"></i>
                                    @Model.Localization.TeamMemberAddButtonText
                                </button>
                            </legend>

                            <div id="members-input-container">
                            </div>
                        </fieldset>
                        <fieldset class="mb-4">
                            <legend>@Model.Localization.ProjectInfoSectionTitle</legend>
                            <div class="mb-3">
                                <label class="form-label" asp-for="ProjectTitle">@Model.Localization.ProjectTitleFieldLabel</label>
                                <input class="form-control" asp-for="ProjectTitle" />
                            </div>
                            <div class="mb-3">
                                <label class="form-label" asp-for="TargetAudience">@Model.Localization.TargetAudienceFieldLabel</label>
                                <input class="form-control" asp-for="TargetAudience" />
                            </div>
                            <div class="mb-3">
                                <label class="form-label" asp-for="KeyObjectives">@Model.Localization.KeyObjectivesFieldLabel</label>
                                <textarea class="form-control" asp-for="KeyObjectives"></textarea>
                            </div>
                            <div class="mb-3">
                                <label class="form-label">@Model.Localization.ProjectTimeFrameFieldLabel</label>
                                <div class="input-group">
                                    <input class="form-control" asp-for="ProjectTimeFrameNumber" />
                                    <select class="form-control" asp-for="ProjectTimeFrameInterval">
                                        <option value="Days">Days</option>
                                        <option value="Weeks">Weeks</option>
                                        <option value="Months">Months</option>
                                        <option value="Years">Years</option>
                                    </select>
                                </div>
                            </div>
                            <div class="mb-3">
                                <label class="form-label" asp-for="MainMethods">@Model.Localization.MainMethodsFieldLabel</label>
                                <textarea class="form-control" asp-for="MainMethods"></textarea>
                                <span class="form-text">
                                    @Model.Localization.MainMethodsFieldText
                                </span>
                            </div>
                            <div class="mb-3">
                                <label class="form-label" asp-for="PlannedVideos">@Model.Localization.PlannedVideosFieldLabel</label>
                                <textarea class="form-control" asp-for="PlannedVideos"></textarea>
                                <span class="form-text">
                                    @Model.Localization.PlannedVideosFieldText
                                </span>
                            </div>
                            <div class="mb-3">
                                <label class="form-label" asp-for="EstimatedProjectCost">@Model.Localization.ProjectCostEstimateFieldLabel</label>
                                <div class="input-group">
                                    <span class="input-group-text">@Model.Localization.ProjectCostEsitmateCurrencyLabel</span>
                                    <input class="form-control" asp-for="EstimatedProjectCost" />
                                </div>
                                <span class="form-text">
                                    @Model.Localization.ProjectCostFieldText
                                    <!-- Project Video does not pay for production costs or salaries but simply wishes to see that there is a budget plan. -->
                                </span>
                            </div>
                        </fieldset>
                        <fieldset class="mb-4">
                            <legend>@Model.Localization.CurrentResourcesSectionTitle</legend>
                            <div class="mb-3">
                                <label class="form-label" asp-for="CurrentEquipment">@Model.Localization.CurrentEquipmentFieldLabel</label>
                                <textarea class="form-control" asp-for="CurrentEquipment"></textarea>
                                <span class="form-text">
                                    @Model.Localization.CurrentEquipmentFieldText
                                </span>
                            </div>
                            <div class="mb-3">
                                <div class="form-check">
                                    <input class="form-check-input reveal-input" asp-for="HasAudioSpace" data-target="audioSpace-description-div">
                                    <label class="form-check-label" asp-for="HasAudioSpace">@Model.Localization.AudioSpaceCheckboxLabel</label>
                                </div>
                            </div>
                            <div class="mb-3 d-none" id="audioSpace-description-div">
                                <label class="form-label" asp-for="AudioSpaceDescription">@Model.Localization.AudioSpaceDescriptionFieldLabel</label>
                                <textarea class="form-control" asp-for="AudioSpaceDescription"></textarea>
                            </div>
                            <div class="mb-3">
                                <div class="form-check">
                                    <input class="form-check-input reveal-input" asp-for="HasComputer" data-target="computer-description-div">
                                    <label class="form-check-label" asp-for="HasComputer">@Model.Localization.HaveComputerCheckboxLabel</label>
                                </div>
                            </div>
                            <div id="computer-description-div" class="mb-3 d-none">
                                <label class="form-label" asp-for="ComputerDescription">@Model.Localization.ComputerDescriptionFieldLabel</label>
                                <textarea class="form-control" asp-for="ComputerDescription"></textarea>
                                <span class="form-text">
                                    @Model.Localization.ComputerDescriptionFieldText
                                </span>
                            </div>
                        </fieldset>
                        <fieldset class="mb-4">
                            <legend>
                                @Model.Localization.PortfolioSectionTitle
                                <button class="btn btn-secondary float-end" type="button" id="links-input-add-btn">
                                    <i class="bi bi-plus"></i>
                                    @Model.Localization.AddLinkButtonText
                                </button>
                            </legend>
                            <span class="form-text">
                                @Model.Localization.PortfolioSectionDescription
                            </span>
                            <div id="links-input-container">
                            </div>
                        </fieldset>
                        <div class="alert alert-info">
                            <h4 class="alert-heading">
                                @Model.Localization.EndingNoteHeader
                            </h4>
                            @Model.Localization.EndingNoteText
                        </div>
                        <div class="float-end">
                            <button class="btn btn-primary">
                                <i class="bi bi-send-fill"></i>
                                @Model.Localization.SubmitButtonText
                            </button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    <script src="~/js/ComplexInputCollection.js" asp-append-version="true"></script>
    <script src="~/js/ViewScripts/Proposals/Form.js" asp-append-version="true"></script>
}