@model ProjectVideo.Web.Models.Proposals.ProposalFormViewModel
@using Microsoft.AspNetCore.Mvc.Localization
@using System.Globalization;
@inject IViewLocalizer Localizer
@{
    ViewData["Title"] = @Localizer["PageTitle"];
    string currentCulture = CultureInfo.CurrentUICulture.Name;
    string? thSelected = currentCulture == "th-TH" ? "selected" : null;
    string? enSelected = currentCulture == "en" ? "selected" : null;
}

<div class="card-container" >
    <div class="card mt-3 mx-auto" style="max-width: 800px;">
        <div class="card-header">
            <h1 class="card-title h3">
                @Localizer["PageTitle"]
            </h1>
        </div>
        <div class="card-body">
            @if(!ViewData.ModelState.IsValid)
            {
                <div class="alert alert-danger" asp-validation-summary="All"></div> 
            }
            <input id="localizations-input" type="hidden" value="@Model.LocalizationJson" />
            <form method="post">
                <div class="row">
                    <div class="col">
                        <div class="mb-3">
                            <label class="form-label">Language / ภาษา</label>
                            <select id="lang-select"  class="form-control">
                                <option value="th-TH" selected="@thSelected">ภาษาไทย</option>
                                <option value="en" selected="@enSelected">English</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <div class="alert alert-info">
                            <h4 class="alert-heading">
                                @Localizer["AboutUsHeader"]
                            </h4>
                            <span>
                               @Localizer["AboutUsText"]
                            </span>
                        </div>
                        <fieldset class="mb-4">
                            <legend>@Localizer["OrganizationSectionTitle"]</legend>
                            <div class="mb-3">
                                <label class="form-label" asp-for="ContactName">@Localizer["MainContactFieldLabel"]</label>
                                <input class="form-control" asp-for="ContactName" />
                                <span class="form-text">
                                    @Localizer["MainContactFieldText"]
                                </span>
                            </div>
                            <div class="mb-3">
                                <label class="form-label" asp-for="ContactEmail">@Localizer["EmailFieldLabel"]</label>
                                <input class="form-control" asp-for="ContactEmail" />
                                <span class="form-text">
                                    @Localizer["EmailFieldText"]
                                </span>
                            </div>
                            <div class="mb-3">
                                <label class="form-label" asp-for="ContactPhoneNumber">@Localizer["PhoneNumberFieldLabel"]</label>
                                <input class="form-control" asp-for="ContactPhoneNumber" />
                                <span class="form-text">
                                    @Localizer["PhoneNumberFieldText"]
                                </span>
                            </div>
                            <div class="mb-3">
                                <label class="form-label" asp-for="OrganizationName">@Localizer["OrganizationFieldLabel"]</label>
                                <input class="form-control" asp-for="OrganizationName" />
                            </div>
                            <div class="mb-3">
                                <label class="form-label" asp-for="OrganizationHistory">@Localizer["OrganizationHistoryFieldLabel"]</label>
                                <textarea class="form-control" asp-for="OrganizationHistory"></textarea>
                                <span class="form-text">
                                    @Localizer["OrganizationHistoryText"]
                                </span>
                            </div>
                            <div class="mb-3">
                                <div class="form-check">
                                    <input class="form-check-input" asp-for="StaffArePaid">
                                    <label class="form-check-label" asp-for="StaffArePaid">@Localizer["StaftArePaidCheckboxLabel"]</label>
                                </div>
                            </div>
                        </fieldset>
                        <fieldset class="mb-4">
                            <datalist id="rolename-options">
                                <option value="@Localizer["TeamMemberRoleOption1"].Value">@Localizer["TeamMemberRoleOption1"]</option>
                                <option value="@Localizer["TeamMemberRoleOption2"].Value">@Localizer["TeamMemberRoleOption2"]</option>
                                <option value="@Localizer["TeamMemberRoleOption3"].Value">@Localizer["TeamMemberRoleOption3"]</option>
                                <option value="@Localizer["TeamMemberRoleOption4"].Value">@Localizer["TeamMemberRoleOption4"]</option>
                                <option value="@Localizer["TeamMemberRoleOption5"].Value">@Localizer["TeamMemberRoleOption5"]</option>
                            </datalist>
                            <legend>
                                @Localizer["TeamMembersSectionTitle"]
                                <button class="btn btn-secondary float-end" id="members-input-add-btn" type="button">
                                    <i class="bi bi-plus"></i>
                                    @Localizer["TeamMemberAddButtonText"]
                                </button>
                            </legend>

                            <div id="members-input-container">
                            </div>
                        </fieldset>
                        <fieldset class="mb-4">
                            <legend>@Localizer["ProjectInfoSectionTitle"]</legend>
                            <div class="mb-3">
                                <label class="form-label" asp-for="ProjectTitle">@Localizer["ProjectTitleFieldLabel"]</label>
                                <input class="form-control" asp-for="ProjectTitle" />
                            </div>
                            <div class="mb-3">
                                <label class="form-label" asp-for="TargetAudience">@Localizer["TargetAudienceFieldLabel"]</label>
                                <input class="form-control" asp-for="TargetAudience" />
                            </div>
                            <div class="mb-3">
                                <label class="form-label" asp-for="KeyObjectives">@Localizer["KeyObjectivesFieldLabel"]</label>
                                <textarea class="form-control" asp-for="KeyObjectives"></textarea>
                            </div>
                            <div class="mb-3">
                                <label class="form-label">@Localizer["ProjectTimeFrameFieldLabel"]</label>
                                <div class="input-group">
                                    <input class="form-control" asp-for="ProjectTimeFrameNumber" />
                                    <select class="form-control" asp-for="ProjectTimeFrameInterval">
                                        <option value="@Localizer["ProjectTimeFrameIntervalOption1"].Value">@Localizer["ProjectTimeFrameIntervalOption1"]</option>
                                        <option value="@Localizer["ProjectTimeFrameIntervalOption2"].Value">@Localizer["ProjectTimeFrameIntervalOption2"]</option>
                                        <option value="@Localizer["ProjectTimeFrameIntervalOption3"].Value">@Localizer["ProjectTimeFrameIntervalOption3"]</option>
                                        <option value="@Localizer["ProjectTimeFrameIntervalOption4"].Value">@Localizer["ProjectTimeFrameIntervalOption4"]</option>
                                    </select>
                                </div>
                            </div>
                            <div class="mb-3">
                                <label class="form-label" asp-for="Methods">@Localizer["MainMethodsFieldLabel"]</label>
                                <textarea class="form-control" asp-for="Methods"></textarea>
                                <span class="form-text">
                                    @Localizer["MainMethodsFieldText"]
                                </span>
                            </div>
                            <div class="mb-3">
                                <label class="form-label" asp-for="PlannedVideos">@Localizer["PlannedVideosFieldLabel"]</label>
                                <textarea class="form-control" asp-for="PlannedVideos"></textarea>
                                <span class="form-text">
                                    @Localizer["PlannedVideosFieldText"]
                                </span>
                            </div>
                            <div class="mb-3">
                                <label class="form-label" asp-for="EstimatedProjectCost">@Localizer["ProjectCostEstimateFieldLabel"]</label>
                                <div class="input-group">
                                    <span class="input-group-text">@Localizer["ProjectCostEsitmateCurrencyLabel"]</span>
                                    <input class="form-control" asp-for="EstimatedProjectCost" />
                                </div>
                                <span class="form-text">
                                    @Localizer["ProjectCostFieldText"]
                                    <!-- Project Video does not pay for production costs or salaries but simply wishes to see that there is a budget plan. -->
                                </span>
                            </div>
                        </fieldset>
                        <fieldset class="mb-4">
                            <legend>@Localizer["CurrentResourcesSectionTitle"]</legend>
                            <div class="mb-3">
                                <label class="form-label" asp-for="CurrentEquipment">@Localizer["CurrentEquipmentFieldLabel"]</label>
                                <textarea class="form-control" asp-for="CurrentEquipment"></textarea>
                                <span class="form-text">
                                    @Localizer["CurrentEquipmentFieldText"]
                                </span>
                            </div>
                            <div class="mb-3">
                                <div class="form-check">
                                    <input class="form-check-input reveal-input" asp-for="HasAudioSpace" data-target="audioSpace-description-div">
                                    <label class="form-check-label" asp-for="HasAudioSpace">@Localizer["AudioSpaceCheckboxLabel"]</label>
                                </div>
                            </div>
                            <div class="mb-3 d-none" id="audioSpace-description-div">
                                <label class="form-label" asp-for="AudioSpaceDescription">@Localizer["AudioSpaceDescriptionFieldLabel"]</label>
                                <textarea class="form-control" asp-for="AudioSpaceDescription"></textarea>
                            </div>
                            <div class="mb-3">
                                <div class="form-check">
                                    <input class="form-check-input reveal-input" asp-for="HasComputer" data-target="computer-description-div">
                                    <label class="form-check-label" asp-for="HasComputer">@Localizer["HaveComputerCheckboxLabel"]</label>
                                </div>
                            </div>
                            <div id="computer-description-div" class="mb-3 d-none">
                                <label class="form-label" asp-for="ComputerDescription">@Localizer["ComputerDescriptionFieldLabel"]</label>
                                <textarea class="form-control" asp-for="ComputerDescription"></textarea>
                                <span class="form-text">
                                    @Localizer["ComputerDescriptionFieldText"]
                                </span>
                            </div>
                        </fieldset>
                        <fieldset class="mb-4">
                            <legend>
                                @Localizer["PortfolioSectionTitle"]
                                <button class="btn btn-secondary float-end" type="button" id="links-input-add-btn">
                                    <i class="bi bi-plus"></i>
                                    @Localizer["AddLinkButtonText"]
                                </button>
                            </legend>
                            <span class="form-text">
                                @Localizer["PortfolioSectionDescription"]
                            </span>
                            <div id="links-input-container">
                            </div>
                        </fieldset>
                        <div class="alert alert-info">
                            <h4 class="alert-heading">
                                @Localizer["EndingNoteHeader"]
                            </h4>
                            @Localizer["EndingNoteText"]
                        </div>
                        <div class="float-end">
                            <button class="btn btn-primary">
                                <i class="bi bi-send-fill"></i>
                                @Localizer["SubmitButtonText"]
                            </button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    <script src="~/js/ComplexInputCollection.js" asp-append-version="true"></script>
    <script src="~/js/ViewScripts/Proposals/Form.js" asp-append-version="true"></script>
}